.App {
  text-align: center;
  /* background-color: #41454f; */
}

.App-logo {
  height: 41vmin;
  pointer-events: none;
  /* background-color: #41454f; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #41454f; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cover-img {
  height: 400px;
}

.movie-card {
  float: left;
  padding: 5px;
  margin: 5px;

}

.btn-container {
  /* background-color: #41454f; */
  box-shadow: 5px 5px 5px ;
}
/* 
.page {
  background-color: #41454f;
} */

.watchlist {
  /* background-color: #41454f; */
  display: flex;
  /* scrollbar-darkshadow-color: dimgray; */
}

.main-watch {
  background-color: #41454f;
  

}

.main-movie {
  background-color: #41454f;

}

.main {
  display: flex;
}